.card-component-wrapper{
    margin-inline: 1rem;
}
.song-card-component{
    background-color: var(--black-color) !important;
}
.song-card-actions{
    background-color: var(--white-color);
}

.card-text{
    color: var(--white-color) !important;
    background-color: var(--black-color) !important;
    border-radius: 16px !important;
    margin: 2px 4px !important;
    padding: 4px 12px !important;
}

.card-below-text{
    color: var(--white-color);
    margin-block: 8px;
    width: fit-content;
}